<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Zain:wght@200;300;400;700;800;900&display=swap"
            rel="stylesheet"
        />
        <title>NgopiDisini Catalogue</title>
    </head>
    <body>
        <a href="#content" class="skip-to" tabindex="1">Skip To Content</a>
        <header>
            <div class="navbar-container">
                <a
                    href="#"
                    class="nav-brands"
                    title="Coffee icons created by Flat Icons - Flaticon
                  "
                >
                    <img src="./images/coffee.png" alt="Ngopi Disini" />
                    <h1>NgopiDisini</h1>
                </a>
                <button class="navbar-toggler" aria-label="Toggle navigation">
                    ☰
                </button>
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="#">Favorite</a>
                    <a href="https://github.com/hasanqqsp" target="_blank"
                        >About Us</a
                    >
                    <button class="close-button" aria-label="Close navigation">
                        &times;
                    </button>
                </div>
            </div>
            <div class="overlay"></div>
        </header>
        <main>
            <div class="jumbotron">
                <img src="./images/heros/hero-image_4.jpg" alt="Banner" />
            </div>
            <section id="content">
                <h2>
                    Kunjungi Rekan Kami untuk
                    <span class="brand-text">NgopiDisini</span>
                </h2>
                <div id="restaurant-lists"></div>
            </section>
            <section id="spotify-container">
                <h2>Senang dengan Playlist Kami?</h2>
                <p>Dengarkan sambil bekerja atau belajar</p>
                <iframe
                    id="spotify-embed"
                    style="border-radius: 12px"
                    src="https://open.spotify.com/embed/playlist/3BF8FetYSDTETQx9g0zzXE?utm_source=generator"
                    width="100%"
                    frameborder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"
                ></iframe>
            </section>
        </main>
        <footer>
            <p>Copyright &copy; Hasan Ismail Abdulmalik - 2024</p>
        </footer>
        <!-- <h1>Restaurant Apps Starter Project</h1>
        <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
        <p>
            Jangan lupa untuk menggunakan salah satu gambar yang berada pada
            ./images/heros sebagai background hero elemen.
        </p>
        <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
        <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
        <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
    </body>
</html>
